[access]
	inheritFrom = ENMaaS
[project]
	description = This repository contains code related to Public Cloud solution for ENMaaS.
[submit]
	mergeContent = false
[access "refs/*"]
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
[plugin "eiffel"]
	enabled = true
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
